<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="osr_csharp" publicKeyToken="DB5A52B08DC5B321" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.4670.10944" newVersion="1.0.4670.10944"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
